:root {
    --background-rgb: 2 6 23;
    --background-light-rgb: 30 41 59;
    
    --border-rgb: 255 255 255;
    --border: 1px solid rgb(var(--border-rgb) / 20%);
    
    --gradient-main-rgb: 41 121 255;
    --gradient-main-light-rgb: 56 182 255;
    --gradient-secondary-rgb: 42 252 152;
      
    --back-width: 100vw;
    --back-height: 98vh;
    --font-size: (0.5rem, 0.5vw + 0.9vw, 1.15rem);

    --font-color: #fff;
    --link-color: #0000EE;

    --menu-background-color: rgba(0, 0, 0, 0.65);
    --menu-item-background-color: rgba(255, 255, 255, 0.1);
    --menu-item-border-color: white;
    --burger-menu-size: 2rem;
  }

  body {
    background: rgb(var(--background-rgb));
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .back-track {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box; /* Include margin in width/height calculations */
  }

  .back-wrapper {
    width: 100%;
    position: relative;
  }

  .back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--back-height);
    aspect-ratio: var(--back-width) / var(--back-height);
    position: relative;
    margin: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
  }

  .back-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(-45deg, #aa076b, #61045f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    mix-blend-mode: darken; 
    pointer-events: none;
    z-index: 2;
  }

  .back-letters {
    --x: 0px;
    --y: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    color: white;
    /*font-size: var(clamp(-font-size));*/
    font-size: clamp(0.6rem, 0.7vw + 1vw, 0.9rem);
    font-weight: 500;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 400ms;
    -webkit-mask-image: radial-gradient(
      calc(var(--back-height) * 0.25) circle at var(--x) var(--y), 
      rgb(255 255 255) 20%, 
      rgb(255 255 255 / 25%), 
      transparent
    );
    scale: 1.03;
    z-index: 1;
  }

  .back:hover .back-letters {
    opacity: 1;
  }

  @media(max-width: 600px) {
    :root {
      --back-width: 100vw; /* New width for smaller screens */
      --back-height: 98vh;
    }
    
    .back {
      border-radius: 1rem;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  a {
    color: var(--link-color);
  }

  #navBarStyle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; /* Full width */
    height: 4rem;
    z-index: 5;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65); /* Black with 90% opacity */
    transition: top 0.3s;
  }

  ul#navBarStyle li {
      display: inline-block;
      font-size: calc(var(--font-size) * 1.5);
      color: white; /* White text */
      padding: 0 10px;
      position: relative; /* For positioning the underline */
      margin-right: 2rem;
  }

  ul#navBarStyle li a {
      text-decoration: none; /* Remove underline from links */
      color: inherit; /* Inherit the color from the parent element */
  }

  ul#navBarStyle li:hover::after,
  ul#navBarStyle li.active::after { /* Add a class for active state */
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white; /* White underline */
  }

  #navBarStyle .language-switch button {
    background: none;
    border: none;
    color: white; /* Or any other color you prefer */
    cursor: pointer;
  }

  #menuTitleDisplay {
    position: absolute;
    left: 0; /* Align the title on the left side */
    top: 0;
    padding: 1rem;
    font-size: var(--font-size);
    color: rgb(var(--font-color));
  }

  .dropdown {
    position: relative; /* Needed for absolute positioning of dropdown content */
  }

  .dropdown-button {
    border-radius: 50%; /* Circular shape */
    padding: 10px; /* Adjust as needed */
    display: flex; /* To center the content */
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border: 2px solid transparent; /* Add transparent border */
    transition: border-color 0.3s; /* Smooth transition for border color */
  }

  .dropdown-content {
      display: none; /* Hidden by default */
      position: absolute;
      right: 0; /* Aligns dropdown to the right of the button */
      background-color: rgba(var(--background-rgb), 0.9); /* Background color with opacity */
      min-width: 160px; /* Adjust as needed */
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      text-align: right; /* Aligns text to the right */
  }

  .dropdown-content a {
    color: white; /* White text for dropdown items */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid transparent; /* Add transparent border to maintain layout */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
  }

  .dropdown-content a:hover {
      background-color: rgba(255, 255, 255, 0.1); /* Slightly lighter on hover */
      border-color: white; /* White border on hover */
  }

  .dropdown:hover .dropdown-content {
      display: block; /* Show dropdown */
  }

  /* Hamburger Menu */
  .hamburger {
    display: none;
    cursor: pointer;
    font-size: var(--burger-menu-size);
    padding: 1rem;
    font-weight: bold; /* Make the text bold */
    color: white; /* Set the text color to white */
    font-size: 1.5rem;
    background: none; /* Removes default button background */
    border: none; /* Removes default button border */
    cursor: pointer;
  }

  #menuTitleDisplay {
    display: none; /* Hide the element */
  }

  /* Mobile Navbar */
  @media (max-width: 600px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 6;
        font-weight: bold; /* Make the text bold */
        color: white; /* Set the text color to white */
    }

    #navBarStyle {
        flex-direction: column;
        position: fixed;
        top: -100vh;
        right: 0;
        width: 60%;
        height: 100vh;
        background-color: var(--menu-background-color);
        border-bottom-left-radius: 15px;
        padding-top: 4rem; /* Height of the header */
        align-items: start;
        padding-left: 1rem;
    }

    ul#navBarStyle li {
        display: block;
        margin: 0.5rem 0;
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }

    ul#navBarStyle li:hover,
    ul#navBarStyle li.active {
        background-color: var(--menu-item-background-color);
        border-color: var(--menu-item-border-color);
    }

    .dropdown-content {
        position: static;
        background-color: transparent;
        box-shadow: none;
        width: 100%;
        text-align: left;
    }

    .dropdown-content a {
        padding: 0.5rem 1rem;
    }

    /* Language Switch Button */
    .language-switch {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: var(--menu-item-background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: var(--menu-item-border-color);
    }
  }
